* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 13px;
  background-image: url(https://ahmed794387207.files.wordpress.com/2020/09/background.png); /* when put it in index add ' '*/
  background-attachment: fixed;
}

.container {
  margin-top: 4%;
  width: 85%;
}
.vn1 a {
  text-decoration: none;
}
.heading {
  /* padding for text and margin for box and border change only type or color*/
  /*Be carefully during Arrangement (border type then color)*/
  /*when two box the sec1045px +10px not from top(it's top is the first bottom)*/

  border-top: solid;
  border-bottom: solid;
  border-top-color: #fc6c6c;
  border-bottom-color: #fc6c6c;
  background-image: url(https://ahmed794387207.files.wordpress.com/2020/09/content.png);
  /* background: #F9F7F7;*/
}
.s1 {
  /*for the first row*/
  /*الهوامش من الجهات الاربعه*/
  text-align: right;
  padding-top: 4px;
  border-bottom: ridge;
}
.s2 {
  /*for the third row*/
  text-align: right;
  color: #ffffff;
  padding: 5px 0;
  margin: 30px 0px 0px 0px;
  background: #6d6565;
}
/* for unordered list in row1* and row 3*/
.u-1 {
  list-style: none;
}
/* to r-bottom-width:n10*/
.l {
  display: inline-block;
}
@font-face {
  src: url(https://raw.githack.com/ahmedhosny0/TheProgrammer.com/master/font/Amiri-Bold.ttf);
  font-family: joz;
}
@font-face {
  src: url(https://raw.githack.com/ahmedhosny0/TheProgrammer.com/master/font/Lalezar-Regular.ttf);
  font-family: laz;
}
/* for the name programmer*/
.name {
  text-align: center;
  color: red;
  font-size: 77px;
  font-family: laz;
  font-style: italic;
}
.content {
  border: solid 1px;
  min-height: 1500px;
  border-color: #ffffff;
  background-image: url(https://ahmed794387207.files.wordpress.com/2020/09/content.jpg);
  /*background: #000000;*/
} /* font weight for bold*/
.ch {
  float: right;
  color: #7272d3;
  font-weight: bold;
  text-shadow: 2px 2px black;
  font-size: 25px;
  margin-right: 30px;
  margin-bottom: 0px;
}
.rightcol {
  border: ridge 1px;
  width: 61%;
  margin-right: 20px;
  margin-top: 20px;
  float: right;
} /* i use border ridge ,1px make height حتي لا يلتصق الحد بالصوره*/
.vn1 {
  width: 93%;
  text-align: left;
  margin-right: 20px;
  margin-left: 20px;
  height: 190%;
  border-bottom: ridge 1px;
}
/* title of the video*/
.tvn1 {
  text-align: right;
  font-weight: bold;
  color: black;
  width: 93%;
  text-shadow: 2px 2px red; /*make shadow for title*/
  font-size: 20px;
  transition: all 0.4s ease; /* disappear slowly*/
}
.tvn1:hover {
  color: #ea1ecb;
}
/*image of the video. */
.ivn1 {
  width: 280px;
  height: 180px;
  float: right;
}
/* caption of the video. */
.vtext {
  font-weight: bold;
  font-size: 15px;
  text-align: justify;
  float: left;
  width: 280px;
  height: 180px;
}
/* to put text beside the photo of the video.and text justify */
.clear_fix::after {
  content: "";
  clear: both;
  display: table;
} /* make it justify*/
ul {
  list-style: none;
}
ul li {
  display: inline-block;
}
.leftcol {
  width: 340px;
  margin-left: 20px;
  float: left;
  top: 0;
  position: sticky;
  bottom: 0;
}
/* for put icon inline block with other option*/
/* change border of all icon box.*/
/* ul instead of div*/
.social_box {
  width: 320px;
  margin-top: 20px;
  padding: 5%;
  /* background-color: #92d153;*/
  /* scrolling*/
  border: ridge 1px;
  background-image: url(https://ahmed794387207.files.wordpress.com/2020/09/content.jpg);
}
.follow_text1 .fab {
  font-size: 70px;
  border-width: 0px 0px 0px 1px;
}
.follow_text1 .fa-facebook {
  color: #39599f;
}
.follow_text1 .fa-twitter {
  color: #45b0e3;
}
.follow_text1 .fa-youtube {
  color: #cc181e;
}
.social_icon:hover {
  background-color: #daeae9;
}

.box_pagecover1 {
  border: ridge 1px;
  width: 320px;
  height: 240px;
  margin-top: 30px;
  float: left;
  position: relative;
}
/*
.btn_watch {
  position: absolute;
  margin-top: 160px;
  left: 55%;
  background: #101010;
  text-align: center;
  color: white;
  border-color: blue;
}*/
.btn_watch img {
  margin: 1px 0;
}
.btn_like {
  position: absolute; /* make it relative to move in photo*/
  top: 65%;
  right: 65%;
  background: #101010;
  text-align: center;
  color: white;
  border-color: blue;
}
.btn_like img {
  margin: 1px 0;
}
.btn_watch:hover {
  background-color: #d8cbcb;
}
.btn_like:hover {
  background-color: #d8cbcb;
}
.pageimg {
  position: absolute;
  margin-top: 1%;
  right: 80%;
  width: 60px;
  height: 60px;
  border: ridge 1px white;
}
.pagename {
  position: absolute;
  margin-top: 35px;
  color: #f77b7b;
  font-family: fantasy;
  font-weight: bold;
  font-size: 20px;
}
.pagename:hover {
  background-color: #fff;
}
.box_pagecover2 {
  border: ridge 1px;
  width: 320px;
  height: 240px;
  margin-top: 30px;
  float: left;
  position: relative;
}
.pagecover {
  width: 99%;
  height: 99%;
  position: absolute;
}
.btn_watch {
  position: relative; /* make it relative to move in photo*/
  top: 65%;
  left: 60%;
  background: #101010;
  text-align: center;
  color: white;
  border-color: blue;
}
.btn_watch img {
  margin: 1px 0;
}
.btn_like {
  /* make it relative to move in photo*/

  float: left;
  background: #101010;
  text-align: center;
  color: white;
  border-color: blue;
}
.btn_like img {
  margin: 1px 0;
}
.btn_watch:hover {
  background-color: #d8cbcb;
}
.btn_like:hover {
  background-color: #d8cbcb;
}
.border {
  margin-top: 20px;
  width: 320px;
  height: 70px;
  border: ridge 1px;
  border-bottom: solid 7px red;
  float: left;
}
.border img {
  width: 320px;
  height: 63px;
}
.followme {
  float: left;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 320px;
}
.followme p {
  float: right;
  color: #7272d3;
  font-weight: bold;
  font-size: 18px;
}
.followme img {
  margin: 20px 0;
  margin-left: 5px;
  float: left;
  width: 40px;
}
.followme .imgborder {
  margin-top: 45px;
  height: 70px;
  border-top: ridge 1px;
  border-right: ridge 1px;
  border-left: ridge 1px;

  border-bottom: solid 3px red;
}
.followme img:hover {
  background-color: #ffffff;
}

.footer {
  background: black;
  float: none;
  min-height: 400px;
}
.footer .ti {
  width: auto;
  margin-top: 30px;
  border-top: double red 10px;
}
.recent_topics {
  margin-top: 10px;
  width: 300px;
  float: right;
  font-size: 16px;
  text-align: right;
  margin-right: 65px;
}

.ti p {
  font-size: 19px;
  font-weight: bold;
  text-align: right;
  font-family: fantasy;
  left: 0;
  color: white;
}
.follow_us_infacebook {
  margin-top: 10px;
}
.follow_us_infacebook .box_pagecover .pagename {
  margin-right: 500px;
}
.follow_us_infacebook .box_pagecover .pageimg {
  margin-right: 540px;
}
.follow_us_infacebook .box_pagecover .btn_watch {
  left: 580px;
}
.follow_us_infacebook .box_pagecover .btn_like {
  right: 750px;
}
.follow_us_inyoutube {
  margin-top: 10px;
  width: 190px;
  height: 300px;
  float: left;
  margin-left: 40px;
}
.follow_us_inyoutube .subscribe {
  width: 180px;
  height: 100px;
  border: ridge 3px;
  float: left;
}
.sub {
  position: absolute;
  width: 80px;
  height: 80px;
  margin-top: 45px;
  margin-left: 0px;
}
.pho {
  position: absolute;
  width: 60px;
  height: 50px;
  margin-top: 0px;
  margin-left: 0px;
}
.yt {
  position: absolute;
  width: 50px;
  height: 30px;
  margin-top: 65px;
  margin-left: 125px;
}
.subscribe .name {
  position: absolute;
  width: 50px;
  height: 30px;
  margin-top: 0px;
  margin-left: 90px;
  font-weight: bold;
  font-size: 13px;
}
.copyright {
  border-top: ridge 3px;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  color: white;
}
.text1 {
  margin-right: 10px;
  font-weight: bold;
  padding: 5px 0;
  text-align: right;
  float: right;
}
.s {
  float: left;
}
.fab {
  padding: 10px 0;
  font-size: 15px;
  margin-left: 5px;
  text-align: center;
  text-decoration: none;
  color: #dbdbdb;
}
.fab:hover {
  opacity: 0.7;
}
.fc {
  width: 10000px;
  height: 100px;
  float: right;
  background: red;
}
#test /* java script*/ {
  color: red;
}
#h1 {
  direction: rtl;
  width: 100%;
  background: red;
  font-size: 22px;
  color: white;
  padding: 5px;
  text-shadow: 2px 1px black;
}

#parg {
  direction: rtl;
  font-family: amir;
  line-height: 2;
  font-size: 23px;
  text-align: right;
  color: #364041;
  padding: 10px;
  text-indent: 50px;
}
@media only screen and (max-width: 1230px) {
  .rightcol {
    border: ridge 1px;
    float: right;
    width: 59%;
  }
  .ivn1 {
    width: 50%;
  }
  .vtext {
    width: 46%;
  }
  .vtext {
    height: 10%;
  }
  .content {
    width: 100%;
    height: 1660px;
  }
  .container {
    margin-top: 4%;
    width: 92%;
  }
}
@media only screen and (max-width: 1060px) {
  .content {
    width: 100%;
    height: 1670px;
  }
  .rightcol {
    border: ridge 1px;
    float: right;
    width: 56%;
  }

  .vn1 {
    width: 95%;
  }
  .ivn1 {
    width: 47%;
  }
  .vtext {
    width: 50%;
  }
  .container {
    margin-top: 4%;
    width: 92%;
  }

  .footer {
    min-width: 400px;
  }
  .body {
    height: auto;
  }
}
@media only screen and (max-width: 1060px) {
  .content {
    width: 100%;
    height: 1670px;
  }
  .rightcol {
    border: ridge 1px;
    float: right;
    width: 56%;
  }

  .vn1 {
    width: 95%;
  }
  .ivn1 {
    width: 47%;
  }
  .vtext {
    width: 50%;
  }
  .container {
    margin-top: 4%;
    width: 92%;
  }

  .footer {
    height: 1100px;
  }
  .body {
    height: auto;
  }
  .copyright {
    margin-top: 20%;
  }
}

@media only screen and (max-width: 990px) {
  .leftcol {
    float: left;
    margin: 0;
    width: 100%;
    top: 220%;
    position: absolute;
    height: 100%;
  }
  .followme p {
    width: 40%;
  }
  .social_box,
  .border,
  .border img,
  .followme {
    float: none;
    width: 100%;
    size: 10px;
  }
  .follow_text1 .fab {
    font-size: 50px;
    border: none;
    border: solid;
    size: 70px;
    border-left: 20px;
  }
  #x {
    float: none;
    margin-left: 38%;
    margin-right: 38%;
  }

  .box_pagecover1 {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    height: 60%;
    float: none;
    margin-top: 0px;
    padding: 0;
  }

  .content {
    width: 100%;
    min-height: 2560px;
  }

  .rightcol {
    float: none;
    margin-top: 6%;
    width: 100%;
    width: 100%;
  }
  .vn1 {
    width: 100%;
    height: 220px;
  }
  .ivn1 {
    margin-right: 5%;
    width: 45%;
  }
  .vtext {
    float: left;
    width: 48%;
    height: 110%;
  }
  .footer {
    min-height: 590px;
    overflow: none;
    width: 100%;
  }
  .copyright {
    margin-top: 20%;
  }

  .heading {
    width: 100%;
  }
  .vtext {
    float: none;
    height: 0%;
  }
  .ch {
    float: none;
    text-align: right;
    margin-bottom: 2%;
  }
  .vn1 {
    float: none;

    width: 95%;
    text-align: center;
  }

  .container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  body {
    float: none;
    margin: 0;
    height: 2000px;
  }
}
@media only screen and (max-width: 960px) {
  #x {
    float: none;
    margin-left: 34%;
    margin-right: 34%;
  }
  .content {
    height: 2590px;
  }
  .footer {
    position: relative;
    height: 650px;
    overflow: none;
    width: 100%;
  }
  .copyright {
    margin-top: 20%;
  }
  .container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .leftcol {
    top: 175%;
    margin: none;
    float: none;
    position: absolute;
  }
  .box_pagecover1 {
    height: 40%;
  }
  .content {
    height: 250px;
  }
  #x {
    float: none;
    margin-left: 32%;
    margin-right: 32%;
  }
  .followme {
    width: 98%;
  }
  .rightcol {
    float: none;
    margin-top: 6%;
    width: 100%;
  }
  .vn1 {
    width: 100%;
  }
  .ivn1 {
    margin-right: 5%;
    width: 45%;
  }
  .vtext {
    float: left;
    width: 48%;
  }
  .footer {
    position: relative;
    height: 800px;
    overflow: none;
    width: 100%;
  }
  .copyright {
    margin-top: 30%;
  }

  .heading {
    width: 100%;
  }
  .vtext {
    float: none;
    height: 0%;
  }
  .ch {
    float: none;
    text-align: right;
    margin-bottom: 2%;
  }
  .vn1 {
    float: none;

    width: 95%;
    text-align: center;
  }
  .container {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
  }
  body {
    float: none;
    width: 100%;
    margin: 0;
    height: auto;
  }
}
@media only screen and (max-width: 700px) {
  .leftcol {
    float: left;
    margin: 0;
    width: 100%;
    top: 215%;
    position: absolute;
    height: 800px;
  }
  .social_box {
    width: 100%;
  }
  .follow_text1 .fab {
    font-size: 50px;
    border: none;
    border: solid;
    border-left: 20px;
  }
  #x {
    width: 10%;
    margin-left: 30%;
    margin-right: 30%;
  }

  .box_pagecover1 {
    width: 60%;
    height: 60%;
    float: none;
    margin-top: 0px;
    padding: 0;
  }
  .content {
    width: 100%;
    height: auto;
  }
  .heading {
    width: 100%;
  }
  .vtext {
    float: none;
    height: 0%;
  }
  .ch {
    float: none;
    text-align: right;
    margin-bottom: 2%;
  }
  .vn1 {
    float: none;

    width: 99%;
    text-align: center;
  }
  .footer {
    position: relative;
    min-height: auto;
    overflow: none;
    width: 100%;
  }
  .copyright {
    margin-top: 10%;
  }
  .container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  body {
    float: none;
    margin: 0;
    height: 2000px;
  }
  .heading {
    width: 100%;
  }
  .vtext {
    float: none;
    height: 0%;
  }
  .ch {
    float: none;
    text-align: right;
    margin-bottom: 2%;
  }
  .vn1 {
    float: none;

    width: 95%;
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .heading {
    width: 100%;
  }
  .vtext {
    float: none;
    height: 0%;
  }
  .ch {
    float: none;
    text-align: right;
    margin-bottom: 2%;
  }
  .vn1 {
    float: none;

    width: 95%;
    height: 270px;
    text-align: center;
  }
  .leftcol {
    top: 250%;
  }
  .box_pagecover1 {
    height: 40%;
  }
  .footer {
    position: relative;
    min-height: 800px;
    overflow: none;
    width: 100%;
  }
  .copyright {
    width: 99%;
    margin-top: 30%;
  }
  .container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  body {
    float: none;
    margin: 0;
    height: 2000px;
  }
}
@media only screen and (max-width: 550px) {
  .leftcol {
    top: 340%;
  }
  #x {
    margin-left: 25%;
    margin-right: 25%;
  }
  .box_pagecover1 {
    height: 30%;
    width: 75%;
    float: none;
  }
  .followme p {
    width: 100%;
  }
  .followme {
    height: 200px;
    padding: 20px;
  }
  .followme img {
    width: 40px;
  }
  .heading {
    width: 100%;
    height: auto;
    max-width: 655px;
    margin: 0;
  }
  .content {
    width: 100%;
    float: none;
    height: auto;
    margin: 0;
    overflow: none;
    height: 2980px;
  }
  .ch {
    float: none;
    text-align: right;
    margin-bottom: 1%;
  }
  .rightcol {
    height: auto;
    width: 100%;
    float: none;
    margin-top: 1%;
  }
  .tvn1 {
    width: 92%;
  }
  .vn1 {
    float: none;

    width: 98%;
    text-align: center;
  }
  .ivn1 {
    float: right;
    width: 98%;
  }
  .vtext {
    float: left;
    height: 60%;
    width: 90%;
  }
  .footer {
    height: auto;
    overflow: none;
    width: auto;
  }
  .ti {
    height: 100%;
  }
  .copyright {
    margin-top: 40%;
    height: 300px;
    width: 100%;
  }
  .container {
    margin: 0;
    float: none;
    padding: 0;
    overflow: hidden;
  }
  body {
    margin: 0;
    padding: 0;
    float: none;
    vertical-align: hidden;
    height: 2000px;
  }
}
@media only screen and (max-width: 411px) {
.vn1{height:300px;}
}
@media only screen and (max-width: 400px) {
  .leftcol {
    float: left;
    margin: 0;
    width: 100%;
    top: 300%;
    position: absolute;
    height: 800px;
  }
  .social_box {
    width: 100%;
  }
  .follow_text1 .fab {
    font-size: 50px;
    border: none;
    border: solid;
    border-left: 20px;
  }
  #x {
    width: 10%;
    margin-left: 22%;
    margin-right: 22%;
  }

  .box_pagecover1 {
    width: 90%;
    height: 40%;
    margin: 0;
    float: none;
    margin-top: 0px;
    padding: 0;
  }
  .imgborder,
  .followme {
    height: 300px;
    margin: 0;
    padding: 10px;
  }
  .heading {
    width: 100%;
    height: auto;
    float: none;
    margin: 0;
  }

  .content {
    width: 100%;
    float: none;
    height: 3000px;
    margin: 0;
  }
  .ch {
    float: none;
    text-align: right;
    margin-bottom: 1%;
  }
  .rightcol {
    height: 100px;
    width: 100%;
    float: none;
    margin-top: 1%;
  }
  .tvn1 {
    width: 92%;
  }
  .vn1 {
    float: none;

    width: 97%;
    text-align: center;
  }
  .ivn1 {
    float: right;
    width: 99%;
  }
  .vtext {
    float: left;
    height: 60%;
    width: 90%;
  }
  .footer {
    position: relative;
    min-height: 900px;
    overflow: none;
    width: 100%;
  }
  .copyright {
    margin-top: 40%;
    width: 96%;
  }
  .container {
    margin: 0px;
    padding: 0;
    width: 100%;
  }
  body {
    margin: 0px;
    width: 100%;
    height: 2000px;
  }
}
@media only screen and (max-width: 360px) {
  .leftcol {
    top: 447%;
    width: 100%;
  }
  .box_pagecover1 {
    width: 100%;
  }
  .heading {
    width: 100%;
    height: auto;
    width: 100%;

    margin: 0;
  }
  .followme {
    padding: 20px;
  }
  .content {
    width: 100%;
    float: none;
    height: 3350px;
    margin: 0;
  }
  .tvn1 {
    width: 50%;
  }
  .ch {
    float: none;
    text-align: right;
    margin-bottom: 1%;
  }
  .rightcol {
    height: auto;
    width: 100%;
    float: none;
    margin-top: 1%;
  }
  .tvn1 {
    width: 92%;
  }
  .vtext {
    margin-top: 3%;
  }
  .vn1 {
    float: none;

    width: 97%;
    text-align: center;
    margin-bottom: 25%;
    height: 320px;
  }
  .ivn1 {
    float: right;
    width: 99%;
  }
  .follow_us_infacebook p {
    width: 80%;
  }

  .follow_us_infacebook {
    width: 85%;
  }
  .box_pagecover2 {
    width: 100%;
    float: none;
  }

  .vtext {
    float: left;
    height: 60%;
    width: 90%;
  }
  .footer {
    position: relative;
    min-height: 900px;
    overflow: none;
    width: 360px;
  }
  .copyright {
    margin-top: 40%;
    width: 90%;
    height: 210px;
  }
  .container {
    margin: 0;
    float: none;
    padding: 0;
    overflow: hidden;
  }
  body {
    margin: 0;
    float: none;
    width: 100%;
    height: 2000px;
  }
}
@media only screen and (max-width: 320px) {
  .leftcol {
    top: 510%;
  }
  .content {
    height: 3400px;
  }
  #x {
    margin-left: 20%;
    margin-right: 23%;
  }
  .followme {
    padding: 50px;
  }
  .followme img {
    width: 21px;
  }
  .copyright {
    width: 80%;
    margin-top: 40%;
    height: 250px;
  }
  .box_pagecover2 {
    width: 92%;
  }
  .recent_topics p {
    width: 80%;
  }
  .recent_topics a {
    float: left;
    margin-left: 20%;
    width: 68%;
  }
  .footer {
    height: auto;
  }
}
